<div class="card">
    <a (click)="openDialog()">
        <mat-card>
            <img mat-card-image [src]="cardItem.imagePath">
            <mat-card-header>
                <mat-card-title>
                    <span>{{cardItem.courseName}}</span>
                </mat-card-title>
                <mat-card-subtitle>
                    {{cardItem.foodType}}
                    <span >{{cardItem.rank}}</span>
                    <mat-icon>star</mat-icon>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>some data</p>
            </mat-card-content>
        </mat-card>
    </a>
</div>