

.card {
  padding: 10px;
  box-sizing: border-box;
}

.example-card {
    background-color: transparent;
    box-sizing: border-box;
    width: 300px;
    height: 350px;
    transition: none;
    box-shadow: none;
}

.mat-card-title {
  font-size: 15px;
  height: 30px;
}

.mat-card-image:first-child {
  margin-top: -16px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

