

.card {
  padding: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.example-card {
    width: 300px;
    height: 350px;
}

.mat-card-title {
  font-size: 16px;
  height: 30px;
}

#card-info {
  padding: 0 20px;
}
/*.mat-icon {*/
  /*vertical-align: middle;*/
/*}*/

#rank {
  /*vertical-align: middle;*/
  padding-left: 10px;
}

.icon-text {
  display: flex;
  align-items: center;
}

#price {
  font-size: 30px;
  font-weight: bold;
  color: #B12704
}
/*.mat-card-image:first-child {*/
  /*margin-top: -16px;*/
  /*border-top-left-radius: inherit;*/
  /*border-top-right-radius: inherit;*/
  /*border-bottom-left-radius: inherit;*/
  /*border-bottom-right-radius: inherit;*/
/*}*/

