<div class="card">
    <mat-card class="example-card" (click)="openDialog()">
        <img mat-card-image [src]="cardItem.imagePath">
        <div id="card-info">
          <mat-card-title>
              {{cardItem.courseName}}
          </mat-card-title>
          <mat-card-subtitle>
              <p> {{cardItem.foodType}}</p>
              <div class="icon-text" style="font-size: medium;color: goldenrod;">
                <mat-icon *ngFor="let s of arr_stars">star</mat-icon>
                <span id="rank">({{cardItem.rank}})</span>
              </div>
          </mat-card-subtitle>
          <mat-card-content>
            <div id="price">
                <mat-icon>attach_money</mat-icon>
                <span>{{cardItem.price}}</span>
            </div>
          </mat-card-content>
        </div>
    </mat-card>
</div>
