<h2 mat-dialog-title>Healthy Vegan Gourmet Class</h2>
<mat-dialog-content>

    <span>4 weeks &#8226; Italian &#8226; <mat-icon style="font-size: 15px;" *ngFor="let s of stars">star</mat-icon>
        </span>
    <p>
        Simple and Fun Keto Meals <br />
        &#8226; Make new and yummy recipes that follow the keto diet but aren't boring or overly complicated <br/>
        &#8226; Understand the HOW of cooking, before thinking of the WHAT to cook. <br/>
    </p>


</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Rate!</button>
</mat-dialog-actions>