.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
 .main-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    background-color: #0b2239;
  }
  
  h1.main-app-name {
    flex: 1 1 auto;
    text-align: center;
    color: wheat;
    font-family: cursive;
    font-size: -webkit-xxx-large;
  }
  
  .mat-icon-button {
    text-align: right;
  }
  
 .main-sidenav-container {
   margin-top: 100px;
    flex: 1 0 auto;
  }
  
  .main-sidenav {
    padding: 20px;
  }