<div class="main-container">

    <mat-toolbar color="primary" class="main-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="main-app-name">CookEat</h1>
    </mat-toolbar>

    <mat-sidenav-container class="main-sidenav-container">
        <mat-sidenav class="main-sidenav"  #snav mode="over" fixedTopGap="56">
            <app-filtercontainer></app-filtercontainer>
        </mat-sidenav>

        <mat-sidenav-content>
            <app-card-list></app-card-list>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>